{% extends "auctions/layout.html" %}

{% block body %}
    <div class="category_frame">
        <div>
        </div>
        <div>
            <div class="category_box">

                <h2>Categories</h2>

                <ul>
                    <li>
                        <b><a href="../categories/unlisted">Unlisted</a></b>
                    </li>

                    {% for item in categories %}
                        <li>
                            <a href="../categories/{{ item.category }}">{{ item.category|title }}</a>
                        </li>    
                    {% endfor %}

                </ul>
            </div>
        </div>
        <div>        
            <div class="category_box">

                {% if active_cat %}

                    <h2>{{ active_cat|title }}</h2>

                    {% if listings%}
                        <ol>        

                            {% for item in listings %}
                                <li>
                                    <a href="../listing/{{ item.title }}">{{ item.title|title }}</a>
                                </li>    
                            {% endfor %}

                        </ol>                            
                    {% else %}
                        <div>There are currently no listings under this category.</div>
                    {% endif %}

                {% else %}

                    <h2>Category</h2>
                    
                    <div>Select a category.</div>
                {% endif %}

            </div>
        </div>
        <div>
        </div>
    </div>
{% endblock %}