{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>
    <div class="list">      
    {% if listings %}
        {% for listing in listings %}

            <div class="list-item">
                <table>
                    <tr>
                        <td>
                            <div class="img_background">                       
                                <img src="{{ listing.img_url }}" alt="{{ listing.title }}">
                            </div>
                        </td>
                        <td>                        
                            <table>
                                <tr>                                           
                                    <td>
                                        <a href="listing/{{ listing.title }}">{{ listing.title }}</a>
                                    </td>
                                    <td>
                                        {% if listing.highest_bid == 0 %}
                                            $ {{ listing.start_bid }}
                                        {% else %}
                                            $ {{ listing.highest_bid }}
                                        {% endif %}
                                    </td>
                                    <td>
                                        {{ listing.description }}
                                    </td>
                                    <td>
                                        {{ listing.category.category }}
                                    </td>
                                    <td>
                                        {{ listing.user }}        
                                    </td>
                                </tr>
                            </table>
                        </td>                                                      
                    </tr>
                </table>

            </div>

        {% endfor %}

    {% else %}

        <div class="list-item">
            No listings atm.
        </div>   

    {% endif %}
    </div>    
{% endblock %}