{% extends "auctions/layout.html" %}

{% block body %}

    <h2>Active Listings</h2>
    {% if listings %}
        <ul>
        {% for listing in listings %}
            <div>
                <a href="listing/{{ listing.title }}">{{ listing.title }}</a>
                <img src="{{ listing.img_url }}" alt="{{ listing.title }}">

                    {% if listing.highest_bid == 0 %}
                        $ {{ listing.start_bid }}
                    {% else %}
                        $ {{ listing.highest_bid }}
                    {% endif %}

                {{ listing.description }}
                {{ listing.category.category }}
                {{ listing.user }}

            </div>
        {% endfor %}
        <ul>
    {% else %}
        No listings atm.
    {% endif %}
{% endblock %}