{% extends "auctions/layout.html" %}

{% block body %}
    </div>
        <h2>Listing</h2>

        {{ listing }}
        Amount of auctions: {{ count}}

        {% if user.is_authenticated %}         
            <form action="" method="post">
                {% csrf_token %}
                {% if listing.closed == False %}

                    {% if watchlist.id %}
                        <input type="submit" name="watchlist" value="Remove">
                    {% else %}
                        <input type="submit" name="watchlist" value="Add">
                    {% endif %}

                    {{ form }}
                    <input type="submit" name="bid" value="bid">
                    {% if listing.user_id == user.id %}
                        <input type="submit" name="close" value="close auction">
                    {% endif %}        
                {% else %}
                AAAA
                    {% if listing.closed == True and leading_bid.user_id == user.id %}
                        <span>
                            Congratulations!
                            <br>
                            You, {{ user.username }}, have won the auction at a bid of ${{ listing.highest_bid }}.
                            <br>
                        </span>
                    {% endif %}     
                {% endif %}
                {% if message %}
                    {{ message }}
                {% endif %}
            </form>
        {% endif %}
        {% if listing.closed == True %}
            <b>This auction is closed.</b> 
        {% endif %}     
    </div>
    <hr>
    <div>
        <h2>Comment Section:</h2>
        {% if user.is_authenticated and listing.closed == False %}
            <form action="" method="post">
                {% csrf_token %}
                {{ form_2 }}
                <input type="submit" name="submit_comment" value="send">
            </form>
        {% endif %}        
        <ul>
            {% if comments %}
                {% for comment in comments %}
                <li>{{ comment }}</li>
                {% endfor %}
            {% else %}
                <li>No comments on this listing item.</li>
            {% endif %}
        </ul>
    </div>

{% endblock %}