{% extends "auctions/layout.html" %}

{% block body %}
    <div class="ls_frame">
        <div>
            <div class="ls_grid_title">
                <div>

                    <h2>Listing: "{{ listing.title }}"</h2>

                </div>
                <div>

                    {% if user.is_authenticated and listing.closed == False %}
                        <div class="right">

                            <form action="{% url 'listing' listing.title %}" method="post">
                                {% csrf_token %}

                                {% if watchlist.id %}
                                    <input class="btn btn-info" type="submit" name="watchlist" value="Remove from Watchlist">
                                {% else %}
                                    <input class="btn btn-info" type="submit" name="watchlist" value="Add to Watchlist">
                                {% endif %}

                                {% if listing.user_id == user.id %}
                                    <input class="btn btn-danger" type="submit" name="close" value="close auction">
                                {% endif %} 
                            </form>

                        </div>      
                    {% endif %}

                </div>           
            </div>
            <hr>
            
            {% if listing.category %}
                <h3> Category: {{ listing.category }}</h3>
            {% endif %}

            {% if listing.img_url %}
                <div>                     
                    <img class="img_listing" src="{{ listing.img_url }}" alt="{{ listing.title }}">
                </div>
            {% endif %}

            <div class="ls_row">
                <div class="label_description">
                    Description
                </div>
                <div class="description">
                    {{ listing.description }}
                </div>
            </div>
            <div class="ls_row">
                <div class="ls_grid">
                    <div class="ls_grid-item">

                        {% if listing.closed == True %}
                            <b>This auction is closed.</b>

                            {% if leading_bid.user == user %}
                                You have won the auction at a bid of ${{ listing.highest_bid }}.
                            {% endif %}  
                             
                        {% else %}
                            Currently there are {{ count }} bid(s).

                            {% if leading_bid.user == user %}
                                Your bid is the current bid.
                            {% endif %}

                        {% endif %}

                        <div class="price">

                            {% if listing.start_bid > listing.highest_bid %}
                                ${{ listing.start_bid }}
                            {% else %}
                                ${{ listing.highest_bid }}
                            {% endif %}

                        </div>                       
                    </div>
                    <div class="ls_grid-item">

                        {% if user.is_authenticated and listing.closed == False %}  

                            <form action="{% url 'listing' listing.title %}" method="post">
                                {% csrf_token %}
                                <div class="label_description">
                                    {{ form.current_bid }}                                    
                                    <input class="btn btn-primary" type="submit" name="bid" value="Place Bid">
                                </div>
                            </form>

                            {% if message %}
                                <div>{{ message }}</div>
                            {% endif %}

                        {% endif %}

                    </div>                
                </div>
            </div>
        </div>
        <div>
            <h2>Comment Section</h2>
            <br>

            {% if comments %}
            
                {% for comment in comments %}
                    <b>{{ comment.user|title }}</b>
                    <div class="comment">
                        {{ comment.comment }}                          
                    </div>
                {% endfor %}

            {% else %}

                {% if user.is_authenticated == False %}
                    <div>No comments.</div>
                {% endif %}

            {% endif %}

            {% if user.is_authenticated and listing.closed == False %}
                <form action="{% url 'listing' listing.title %}" method="post">
                    {% csrf_token %}
                    {{ form_2.comment.label }}
                    {{ form_2.comment }}
                    <div>
                        <div class="right">
                            <input class="btn btn-info" type="submit" name="submit_comment" value="send">
                        </div>
                    </div>
                </form>
            {% endif %}

        </div>
    </div>
{% endblock %}