{% extends "auctions/layout.html" %}

{% block body %}
    <div class="wl_frame">
        <div>
        </div>
        <div class="wl_box">

            <h2>Watchlist</h2>

            {% if not watchlist %}
                No items are currently on your watchlist.
            {% else %}            

                    {% for item in watchlist %}
                        <div class="wl_title">

                            <form action="{% url "watchlist" item.listing.id %}" method="post">
                                {% csrf_token %}                        
                                <a href="listing/{{ item.listing.title }}">{{ item.listing.title|title }}</a>
                                <div class="right">
                                    <input class="btn btn-danger" type="submit" name="remove" value="remove">
                                </div>
                            </form> 
                                                           
                        </div>                     
                    {% endfor %}

            {% endif %}

        </div>
        <div>
        </div>
    </div>
{% endblock %}