{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Watchlist</h2>
    <ul>      
        {% for item in watchlist %}
            <li>
                <form action="{% url "watchlist" pk=item.listing.id %}" method="post">
                    {% csrf_token %}
                    <a href="listing/{{ item.listing.title }}">{{ item.listing }}</a>                  
                    <input type="submit" name="remove" value="remove">
                </form>
            </li>    
        {% endfor %}
        
        {% if not watchlist %}
            <li>No items are currently on your watchlist.</li>
        {% endif %}
    </ul>
{% endblock %}